.login-window .column{
    margin-top:10rem;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.ui.teal.image.header .content{
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

div.ui.stacked.segment{
    padding :2rem;
}

.center{
    text-align:center;
}

div.fields {
    justify-content:space-between;
} 
