div.justified.item .content{
    margin-top:0.7rem;
    display: flex;
    justify-content:space-between;
    margin-left:1rem;
}

div.item .content .ui.subheading{
    text-align:center;
    font-weight: 800;
    font-size: 1.2rem
}

div.ui.list{
    margin:4rem 0;
}

.ui.list .content{
    margin-right: 180px;
}